@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
}
html{
height:100%;
width: 100%;
overflow-x: hidden;
}
body{
width: 100%;
height: 100%;
}

nav{
width: 100%;
}

.kk{
    float: right;
    justify-content: flex-end;
}

.nav-item a{
    text-align: center;
    color: #EFEEF1;
    font: normal normal bold 1.17vw Visby CF;
    text-transform: capitalize;
}
.mbd{
    top: 310px;
    left: 152px;
    width: 485px;
    height: inherit;
    flex-direction: column;
    margin: auto;
}
.main{
    width: 100%;
    height: 100vh;
    padding-top: 5em;
    background-color: #21325a;
    box-sizing: border-box;
}
.main .row{
    max-height: inherit;
}
.main h1{
    text-align: left;
    font: normal normal bold 3.6vw Visby CF;
    letter-spacing: 2.8px;
    color: #F5F8FF;
    text-transform: capitalize;
}

.main p{
    text-align: left;
    font: normal normal medium 1.32vw Visby CF;
    letter-spacing: 0.72px;
    color: #EFEEF1;
}
/* .main .btn{
    background: #E16D62 0% 0% no-repeat padding-box;
    border-radius: 5px;
    } */
.card-body{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.cards{
    position: relative;
    top: -18vh;
}
   .cards .card{
        z-index: 999;
        width: 22.5em;
        /* height: 25em; */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #00000019;
        border-radius: 10px;
        overflow: hidden;
        height: inherit;
        }
    .cards .card-text{
        width: 100%;
        text-align: left;
        font: normal normal medium 1.26vw Visby CF;
        letter-spacing: 0.8px;
        color: #26282E;
        }
    .cards .card-title{
        width: 10em;
        height: 4em;
        text-align: left;
        font-size: 2.8vw;
        letter-spacing: NaNpx;
        color: #21325A;
        }
    .cards .card-subtitle{
        width: 2em;
        height: 1.5em;
        text-align: left;
        font: normal normal bold 40px/60px Poppins;
        letter-spacing: 1.6px;
        color: #E0E2E6;
        }
        
.history{
    margin: auto;
    min-height: 100vh;
}
.history img{
    height: inherit;
    border-radius: 10px;
}

.history .card-title{
    text-align: left;
    font: normal normal bold 1.46em Visby CF;
    color: #1C99D5;
    text-transform: capitalize;
}
.history .card-subtitle{
    text-align: left;
    font: normal normal bold 2em Visby CF;
    color: #21325A;
    text-transform: capitalize;
}
.history .card-text{
    text-align: left;
    font: normal normal medium 1.8vw Visby CF;
    color: #26282E;
    letter-spacing: 0.88px;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #21325A;
    font-size: 2.5em;
}


.expert{
    background: #F5F8FF 0% 0% no-repeat padding-box;
    margin:auto;
    min-height: 100vh;
}
.expert card-group{
    margin-left: 0%;
    padding-left: 0%;
}
 .expert .card{
    max-height: 70vh;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
 }
 .expert img{
     width: 100%;
     height: auto;
     border-radius: 10px;
 }
 .values{
     margin-top: 10vh;
     min-height: 100vh;
 }
 .values .card{
    height: 45vh;
    background: #FCFDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #00000019;
    border-radius: 10px;
    align-items: center;
 }
 .values .card-body{
    flex-direction: column;
    align-items: end;
 }

.values .card-title{
    text-align: left;
    font: normal normal bold 2em Visby CF;
    letter-spacing: 1px;
    color: #21325A;
    text-transform: capitalize;
}
.values .card-text{
    text-align: left;
    font: normal normal medium 19px/30px Visby CF;
    letter-spacing: 0.76px;
    color: #26282E;
}
.values .card-img-top{
    width: 3.3em;
    height: auto;
}
.line{
    width: 90%;
    height: 0.5em;
    background: #1C99D5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    justify-content: center;
}
.service{
    height: 40vh;
}

.article img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article .card{
    background: #FCFDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 60px #AAA7A71D;
    border-radius: 10px;
    
}

.article .card-title{
    letter-spacing: 0px;
    color: #26282E;
    font: normal normal bold 1.35vw Visby CF;
}

.article{
    min-height: 90vh;
}
.end{
    height: 50vh;
}
.end button{
    background: #E16D62 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
.end .line{
    width: 3.3em;
    height: 1px;
    background: #1C99D5 0% 0% no-repeat padding-box;
}

.tend button, div{
    margin: auto;
}
.tend h1{
    font: normal normal bold 2.5em Visby CF;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.social-icons a {
    color: #21325A;
    font-size: 1.9em;
    transition: 0.7s ease;
}
hr{
    width: 80%;
    height: 2px;
    margin: auto;
}
footer h5{
    text-align: left;
    font: normal normal bold Visby CF;
    letter-spacing: 1px;
    color: #21325A;
}
footer li,a{
    font: normal normal medium 1em Visby CF;
    letter-spacing: 0.56px;
    margin: 1em 0em 1em 0em;
color: #26282E;
}
@media (min-width: 991){
    body{
        font-size: 10px;
    }
}

@media (max-with:991px){
    body{
        font-size:10px;
    }
    .cards{
        height: 50vh;
    }
    .cards .card-text{
        font: normal normal medium 0.95vw Visby CF;

    }
    .card .card-title{
        font: normal normal medium 1vw Visby CF;
    }
}
@media (max-with:600px){
    body{
        font-size: 8px;
    }
}